/* CSS สำหรับพื้นหลัง */
.container {
    position: absolute;
    inset: 0;
    z-index: -1; /* ทำให้พื้นหลังอยู่ด้านหลังเนื้อหา */
}

.container::before {
    content: "";
    position: absolute;
    inset: -145%;
    rotate: -45deg;
    background: #000000;
    background-image: radial-gradient(
        4px 100px at 0px 235px,
        rgb(255, 140, 17),
        #0000
    ),
    radial-gradient(4px 100px at 300px 235px, rgb(255, 119, 0), #884e2800);
  
    background-size: 300px 235px, 300px 235px;
    animation: bg-move 150s linear infinite;
}

/* ทำให้พื้นหลังเคลื่อนไหว */
@keyframes bg-move {
    0% {
        background-position: 0px 220px, 3px 220px;
    }
    to {
        background-position: 0px 6800px, 3px 6800px;
    }
}

/* เพิ่มสไตล์สำหรับดาว */
.star {
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 5px white;
    animation: twinkle 10s linear infinite;
